<form method="post" action="/create_post">

    <h1> New post </h1>

    <label for="caption"> Caption</label>
    <input type="text" id="caption" name="caption">

    <label for="image"> Image </label>
    <input type="url" id="image" name="image">

    <label for="location"> Location </label>
    <input type="text" id="location" name="location">

    <button class="btn" type="submit"> Create Post </button>

</form>