<form method="post" action="/password/reset">
  <div class="col-6" style="margin: 0 auto;">
    <h1> Forget your Password?</h1>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
